@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700');
/* greyfont -> #444 */
/* light grey -> #ddd */
/* super light grey #f8f8f8 (background color) */
/* button blue ligher -> #2196F3; */
/* button blue darker -> #337ab7; */

* {
  box-sizing: border-box;
}

body {
  color: #444;
  margin: 0;
  padding: 0;
  background: #f8f8f8;
  font-family: -apple-system, "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  background: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul,ol { list-style: none; }
h1,h2,h3,h4,h5,h6,pre,code { font-size: 1em; }
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input,dl,dt,dd, figure, figcaption {
    margin: 0;
    padding: 0; }
a img,:link img,:visited img, fieldset { border: none; }
address { font-style: normal; }
mark {
    color: inherit;
    background: transparent; }
abbr { border: none; }
summary::-webkit-details-marker { display: none; }


label, input, select {
 display: block;
}

textarea:focus, input:focus, select:focus {
  outline: none;
  border-bottom: 2px solid #2196F3;
}

label {
  font-weight: 400;
  font-size: 0.8em;
  color: #444;
  margin: 1em;
  padding-bottom: 1.5em;
}

select {
  width: 100%;
  font-size: 1em;
  margin-top: 1em;
  background: transparent;
}

h1 {
  font-size: 1.6em;
}

h2, h3 {
  font-weight: 100;
  letter-spacing: .02em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

.closeForm {
  font-size: 1.2em;
  cursor: pointer;
  padding: 0 0 .5em 1em;
}

button {
  border-color: #2e6da4;
  background-color: #2196F3;
  color: white;
  padding: 1em;
  box-shadow: 1px 1px 4px rgba(0,0,0,.4);
  border-radius: .4em;
  margin: 1em;
  cursor: pointer;
}

@media (max-width: 650px) {
  .mobile_hide {
    display: none;
  }
}

