@value colors: "../colors.css";
@value secondary-blue from colors;

.form_container {
  background: rgba(0, 0, 0, 0.5);
  margin: auto;
  padding: 1rem;
  max-width: 30rem;
  background-color: white;
  box-shadow: 0 8px 12px #ccc;
}

.save_button {
  width: 100%;
  padding: 0.5rem;
  height: auto;
}

.companyAutoPopulate,
.companyName {
  margin: 0.4em;
  cursor: pointer;
}

.saveButton {
  margin-left: 0;
}

.separated {
  padding-bottom: 2rem;
}

.label {
  color: #777;
  font-size: 1rem;
}

.form_input {
  width: 100%;
  line-height: 2.5;
  margin: auto;
  margin-top: 0.5rem;
  border: none;
  font-size: 1em;
  font-weight: 100;
  color: #444;
  letter-spacing: 0.04em;
  border-bottom: 2px solid #ddd;
  margin-bottom: 1.5rem;
}

.left_margin {
  border-left: 0.5rem solid #f1f1f1;
}

.extra_info {
  vertical-align: unset;
  color: #aaa;
}

.extra_info_alert {
  display: block;
  vertical-align: unset;
  color: red;
}

.cancel_account {
  color: secondary-blue;
  padding: 1rem 0 0 0;
  cursor: pointer;
}
