.container {
  width: 16em;
  border: 1px solid #ddd;
  padding: 0.4em;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  right: 0;
  background-color: white;
}

.list_item {
  padding: 0.5em 1em;
  display: inline-block;
  width: 100%;
}

.list_item,
.list_item *,
.list_item:link *,
.list_item:visited * {
  color: #777;
  text-decoration: none;
}

.hover_background:hover {
  background-color: #f9f9f9;
}

.email {
  border-bottom: 0.01em solid #ddd;
}

.button {
  cursor: pointer;
}

.full_width {
  width: 100%;
}

@media (max-width: 40.625rem) {
  .container {
    width: 100%;
  }
}
