.ul {
  border: 0.05em solid #f1f0f0;
  background: #fff;
  position: absolute;
  min-width: 11.25rem;
  max-width: 15.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.li {
  padding: 0.3em;
  border-bottom: 0.05em solid #f1f0f0;
  color: #aaa;
}

.li_clickable {
  padding: 0.3em;
  cursor: pointer;
  border-bottom: 0.05em solid #f1f0f0;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.li_clickable:hover {
  background: #2196f3;
  color: #fff;
}
