@value colors: "../colors.css";
@value primary-box-shadow from colors;

.jobAppDetail__header {
  display: flex;
  justify-content: space-between;
  background: #f8f8f8;
  padding: 1rem;
}

.jobAppDetail__formOuterContainer {
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  cursor: pointer;
  opacity: 0;
  transition: all 0.5s ease;
}

.jobAppDetail__formInnerContainer {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  background: white;
  height: 100vh;
  cursor: default;
}

.jobAppDetail__delete {
  cursor: pointer;
  color: #337ab7;
  margin-left: 1rem;
  font-size: 0.8rem;
}

.jobAppDetail__form {
  width: 100%;
  margin: auto;
  padding: 1rem;
  box-sizing: border-box;
  border: 0.05rem solid #ddd;
}

.jobAppDetail__input {
  margin-top: 0.6rem;
  border: none;
  padding: 0.2rem;
  width: 100%;
  cursor: pointer;
  margin-bottom: 1.5rem;
  color: #999;
}

.disabled:disabled {
  background-color: #ddd;
  box-shadow: primary-box-shadow;
}

.opaque {
  opacity: 1;
}

@media (max-width: 40.625rem) {
  .jobAppDetail__formInnerContainer {
    width: 90%;
  }
}
