.JobAppDeleteModal__outerContainer {
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.JobAppDeleteModal__innerContainer {
  display: flex;
  background: #fff;
  margin: 0 auto;
  padding: 1rem;
  min-width: 50%;
}

.JobAppDeleteModal {
  text-align: center;
  width: 100%;
  margin: auto;
}
.JobAppDeleteModal__header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.JobAppDeleteModal__closeForm {
  align-self: flex-end;
  padding: 0.6em.8em;
  font-size: 1.2em;
  cursor: pointer;
}

.JobAppDeleteModal__buttonContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
  padding: 0 1em;
}

@media (max-width: 40.625rem) {
  .JobAppDeleteModal__innerContainer {
    width: 70%;
    left: 15%;
  }
}
