.formOuterContainer {
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

.formInnerContainer {
  position: absolute;
  left: 19%;
  top: 2em;
  margin: 0 auto;
  width: 62%;
  background: white;
  border-radius: 0.3em;
  border: 0.08em solid grey;
}

.formHeader {
  display: flex;
  justify-content: space-between;
  padding: 1.2em 0.8em;
  border-bottom: 0.01em solid #ddd;
}

.add_new_job {
  font-weight: 100;
  font-size: 1.5em;
}

.select {
  padding: 0.5rem;
}

.companyAutoPopulate,
.companyName {
  margin: 0.4em;
  cursor: pointer;
}

.saveButton {
  margin-left: 0;
}

.jobForm__input {
  width: 100%;
  line-height: 2.5;
  margin: auto;
  margin-top: 0.5rem;
  border: none;
  font-size: 1em;
  font-weight: 100;
  color: #444;
  letter-spacing: 0.04em;
  border-bottom: 0.01em solid #ddd;
  margin-bottom: 1.5rem;
}

.flex_right {
  display: flex;
  justify-content: flex-end;
  margin: 0.75rem;
}

.flex_right * {
  margin: 0 0.25rem;
}

@media (max-width: 40.625rem) {
  .formInnerContainer {
    width: 94%;
    left: 2.5%;
    top: 0.8em;
  }
}
