.container {
  left: 50%;
  width: 25rem;
  margin-left: -12.5rem;
  position: absolute;
  text-align: center;
  border: none;
  background-color: white;
  padding: 2rem 3rem;
  box-shadow: 0 5px 24px #adadad;
  border-radius: 6px;
}

.title {
  text-align: left;
  margin-bottom: 1rem;
  font-weight: lighter;
  font-size: xx-large;
}

.field {
  width: 100%;
  border: none;
  border-bottom: 2px solid lightgray;
  padding: 1rem 0 0.2rem 0;
  color: #666;
}

.label {
  text-align: left;
  margin: 1rem 0;
  color: #666;
}

.login_button {
  width: 100%;
  background-color: #2196f3;
  color: white;
  border-radius: 4px;
  padding: 0.4rem;
  border: none;
  box-shadow: 0 2px 6px darkgray;
  cursor: pointer;
}

.footer {
  margin: 1rem;
}

.sign_up_highlight {
  text-decoration: none;
  color: #2196f3;
}

.sign_up_highlight:hover {
  text-decoration: underline;
}

@media (max-width: 40.625rem) {
  .container {
    width: 18rem;
    margin-left: -9rem;
  }
}
