.nav_list {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #ccc;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.nav_list__item {
  padding: 1rem 1.5rem;
  text-decoration: none;
  color: #777;
  cursor: pointer;
  display: block;
  border: none;
  background-color: white;
  font-size: medium;
}

.nav_list__header {
  padding: 1rem 1.5rem;
  text-decoration: none;
  color: #777;
  cursor: pointer;
  display: block;
  border: none;
  background-color: white;
  font-size: medium;
}

.display_left {
  margin-right: auto;
}

.nav_list__item_Active {
  background-color: #e9e9e9;
}

.hamburger {
  display: none;
}

@media (max-width: 40.625rem) {
  .hamburger {
    display: block;
    padding: 0.9375rem 1.5rem;
    text-decoration: none;
    color: #777;
    cursor: pointer;
    display: block;
    border: none;
    background-color: white;
    font-size: medium;
  }
  .hamburger_Active {
    background-color: #e9e9e9;
  }
  .hide {
    display: none;
  }
  .nav_list {
    padding-left: 0;
    padding-right: 0;
    flex-direction: column;
  }
  .nav_list__header {
    display: block;
  }
  .display_left {
    margin-right: auto;
    width: 100%;
  }
  .stick_top_right {
    position: fixed;
    right: 0;
    top: 0;
  }
}
