.input {
  color: #444;  
  padding: .5em;
  border: .08em solid #ccc;
  border-radius: 0.4em;
  font-size: 1.1em;
  letter-spacing: 0.05em;
}

.input:focus {
  outline: none;
  border-bottom: none;
}

