.header {
  display: flex;
  justify-content: space-between;
}

.plus {
  font-size: x-large;
  font-weight: bold;
  vertical-align: -11%;
}

.archived {
  color: #337ab7;
  cursor: pointer;
  margin: 2rem 0;
}

.show_mobile {
  display: none;
}
.hide_mobile {
  display: block;
}

@media (max-width: 40.625rem) {
  .add_job_button {
    padding: 0 0.5rem;
    font-size: x-small;
    height: 2rem;
  }
  .plus {
    font-size: large;
  }
  .show_mobile {
    display: block;
  }
  .hide_mobile {
    display: none;
  }
}
