.tracker__table {
  width: 100%;
  border-spacing: 0 1rem;
  border-collapse: separate;
}

.tracker__table_heading {
  font-size: 0.66em;
  letter-spacing: 0.05rem;
  height: 3.125rem;
  font-weight: bold;
  cursor: pointer;
  text-align: left;
}

.tracker__table_heading > tr {
  height: 4rem;
  user-select: none;
}

.tracker__table_body > tr {
  color: #444;
  background: #fff;
  height: 3rem;
  font-size: 0.8rem;
  cursor: pointer;
  border-spacing: 1rem 1rem;
  transition: all 0.3s ease;
}

.tracker__table_body > tr:hover {
  background: #fdfdfd;
  box-shadow: 0 8px 16px #d4d4d4;
}

.tracker__table_heading > tr > th,
.tracker__table_body > tr > td {
  padding-left: 1.4rem;
}

@media (max-width: 40.625rem) {
  .tracker__table_heading > tr > th,
  .tracker__table_body > tr > td {
    padding-left: 0.8rem;
  }
}
